<!DOCTYPE html>
<html>
  <head>
    <title>RChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href=<%=root_path %> class="brand-logo">RChat</a>
      <ul class="right hide-on-med-and-down">
      <% if current_user %>
	  		<li class="nav-item active">
		      <%= link_to "Log Out #{current_user.email}" ,logout_path ,method: 'delete', class: ' nav-link ' %>
		      <li class="nav-item active">
		      <%= link_to 'View Friends', user_path(current_user), class: 'nav-link' %>

		    </li>
		    </li>
	  	<% else %>
		    <li class="nav-item active">
		      <%= link_to 'Create An Account', new_user_path, class: 'nav-link' %>
		    </li>
		    <li class="nav-item active">
		      <%= link_to 'Log In', new_session_path, class: ' nav-link ' %>
		    </li>
		<% end %>
		<li><%= link_to "Sent Messages",sent_message_path, class: 'nav-link' %></li>
        <li> <%= link_to "Mailbox", conversations_path, class: "nav-link" %></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

	<% unless flash.empty? %>
		<% flash.each do |key, value| %>
			<div class="alert alert-danger"><%= value %></div>
		<% end %>
	<% end %>
   		<%= yield %>
  </body>
</html>
